.collection{
  margin-top: var(--comment-magin-top);
  margin-top: 4em;
}
.collection_ttl {
  text-align: center;
  color: var(--main-color);
  font-size: 1rem;
}
.collection_txt{
  text-align: center;
  font-size: 1.4rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* .swiper-container{
  width: 1150px;
  overflow: hidden;
  margin: 0 auto;
} */
.swiper{
  width: 1100px;
  /* overflow:visible */
  margin-top: 2em;
}

.swiper-pagination{
  margin-top: 3em;
  position: relative;
}
.swiper-slide{
  
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.collection-img {
  border-radius: .5em .5em 0 0;
  display: block;
  width: 100%; 
  height: 240px;
  /* object-fit: cover; */
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color) 
}
.collection-img-ttl{
  color: var(--main-color);
  font-size: .9rem;
}
.collection-img-txt{
  font-size: 1.ㅁrem;
  text-align: left;
}
.moreDetails{
  text-align: center;
  width: fit-content;
  padding:.4em 2em .4em 2em ;
  border: var(--main-color) 1px solid;
  color: var(--main-color);
  border-radius: .4em;
}